<% include partials/header.ejs %>

<h1>Check In</h1>

<form method="POST" action="/checkin">
        Enter ISBN/Card ID/Name:
        <input type="text" name="query"/>
        <input type="submit" name="submit"/>
</form>


<% include partials/footer.ejs %>